<div class="container mb-3">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
          <input class="form-control" type="text" placeholder="Movie Name" [value]="movie_name" (input)="filterMovies($event)">
    </div>
  </div>
</div>



<div class="container">
    <div class="row gy-3">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let product of MoviesArrayForFilter">
            <div class="card mr-3" style="width: 15rem;">
                <img [src]="product.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.price}}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            
        </div>
    </div>
</div>